.header{
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-weight: bold;
    background: transparent;
 
}

.nav > a:hover{
  cursor: pointer;
}
.hamburger{
  width: 50px;
}